<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BAL Ajoutée</title>
  </head>
  <body>
    Address: <%= bal.address %><br>
    Bureau plus proche: <%= bal.burpro %><br>
    code PIN: <%= bal.pin %><br>
    ID du prestataire: <%= bal.prest %><br>
    regat: <%= bal.regat %><br>
    Relevée par: <%= bal.relv_par %>
  </body>
</html>
